<h1><%= @question.statement %></h1>


<p><%= link_to "Edit Question", edit_question_path(@question) %></p>
<p><%= link_to "Delete Question", question_path(@question), :data => {:confirm => "Are you sure you want to delete this question?", :method => "delete"} %></p>

<p><%= link_to "Return to questions", questions_path %></p>
